{{>
  jumbotron
  title='Home Page'
  subtitle='Scrape & Save News Articles from SD Times'
}}
<div
  id="js-append-articles-scraped"
>
  <div
    class="card pb-1 border-dark"
  >
    <h2>
      No articles scraped yet
    </h2>
    <button
      id="js-scrape-articles"
      class="btn btn-danger w-50 mx-auto"
    >
      Scrape New Articles
    </button>
  </div>
</div>
